[Desktop Entry]
Type=Application
Name=flutter_nfc_test_example
Comment=Demonstrates how to use the flutter_nfc_test plugin.
Icon=com.example.flutter_nfc_test_example
Exec=/usr/bin/com.example.flutter_nfc_test_example
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=flutter_nfc_test_example
